body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: #fff;
}
nav {
  display: flex;
  margin-left: auto; /* Pushes nav to the right */
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}



.todo-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.todo-title {
  flex: 1;
}

.checkbox-container {
  margin-left: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}
